<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
        <meta name="generator" content="Jekyll v3.8.5">

        <title>GloryMark · Home</title>

        <!-- Bootstrap core CSS -->
        <link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- font css -->
        <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/assets/css/home.css" rel="stylesheet">
    </head>

    <body>

        <main role="main">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-3">GloryMark</h1>
                    <p>Each contestant of the Chicago Pacific Olympics has shared two truths and a lie about their athletic abilities. Use your judgement to determine what is true and what is not as you place your bets</p>
                </div>
            </div>
            
            <div class="container" id="container">
                    <a href="sign-in" class="btn btn-squared btn-primary reg" id="btn1">
                        <!-- <br /> -->
                        Sign In
                        
                    </a>

                    <a href="sign-up" class="btn btn-squared btn-primary reg" id="btn2">
                        <!-- <br /> -->
                        Sign Up
                    </a>

            </div>
            
        </main>
    </body>
</html>
