<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
        <meta name="generator" content="Jekyll v3.8.5">
        <title>GloryMark · Sign up</title>

        <!-- <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/sign-in/"> -->

        <!-- Bootstrap core CSS -->
        <link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Custom styles for this template -->
        <link href="/assets/css/sign-up.css" rel="stylesheet">

        <!-- font for this template -->
        <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
    
    </head>
    <body class="text-center">
        <form method="POST" action="/sign-up" class="form-signin rounded">

            <h1 class="h1 mb-3 font-weight-normal">GloryMark</h1>
            <h4 class="h4 mb-3 font-weight-normal">Sign Up</h4>

            <!-- if message array is not empty loop through messages and display them-->
            <% if (errArr != []) { %>
                <% for(var i = 0; i < errArr.length; i++) { %>
                    <div class="alert alert-danger"><%= errArr[i].msg%></div>
                    <br>
                <% } %>
            <% } %> 

            <!--if message2 string is not empty display it -->
            <% if (errMsg != '') { %>
                <div class="alert alert-danger"><%= errMsg%></div>
                <br>
            <% } %>
            
            <label for="firstname" class="sr-only">First Name</label>
            <input type="text" name="firstname" class="form-control add-padding" placeholder="Enter first name" required autofocus>
            <label for="lastname" class="sr-only">Last Name</label>
            <input type="text" name="lastname" class="form-control add-padding" placeholder="Enter last name" required autofocus>
            <label for="username" class="sr-only">Username</label>
            <input type="text" name="username" class="form-control add-padding" placeholder="Enter username" required>
            <label for="password" class="sr-only">Password</label>
            <input type="password" name="pword" class="form-control"  placeholder="Enter Password" required>
            <label for="passwordMatch" class="sr-only">Re-enter Password</label>
            <input type="password" name="pwordMatch" class="form-control"  placeholder="Re-enter Password" required>
            <label for="username" class="sr-only">Admin</label>
            <input type="text" name="adminCode" class="form-control add-padding" placeholder="Enter admin code (if you're an admin)">
            <div class="checkbox mb-3">
                    <p>Already have an account? <a href='sign-in'>Sign in now!</a></p>
                  </div>
            
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        
        </form>
    </body>
</html>